include MANIFEST.in
include LICENSE
include README.md
include setup.py

recursive-include radio *
recursive-include docs *
recursive-include examples *
recursive-exclude docs/_build *

global-exclude *.pyc *.pyo *.pyd
global-exclude *.git
global-exclude *.so
global-exclude *~
global-exclude \#*
global-exclude .DS_Store